<h2>Por Region</h2><small>{{regionActivas | titlecase}}</small>
<hr>


<h5>Seleccione las regiones</h5>
<div class="row">
    <div>
        <!-- [class.btn-primary]="region ===regionActivas" -->
        <!-- [ngClass]="{'btn-primary': region ===regionActivas}" -->
        <button 
        *ngFor="let region of regiones"
        class="animate__animated animate__pulse"
        [class]="(region === regionActivas) ? 'btn btn-primary': 'btn btn-outline-primary'"
        (click)="buscar(region)"
        (click)="activarRegion(region)">
        {{region}}
        </button>
    </div>
</div>


<div class="row">
    <div class="col">
        <app-pais-input 
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        ></app-pais-input>
    </div>
</div>
<hr>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino {{termino}}
</div>
<div class="row">
    <div class="col">
        <app-pais-table [paises]="paises" [hayError]="hayError"></app-pais-table>
        
    </div>
</div>

